:root {
  font-size: 90%;
  --body-bg-color: #faf7fd;
  --purple: #bb99dd;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--body-bg-color);
  color: var(--purple);
}

p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile {
  width: 180px;
  height: 180px;
  object-fit: cover;
  max-width: 100%;
  border-radius: 50%;
  border: 2px solid var(--purple);
  padding: 4px;
}

.container p {
  margin: 0.75rem;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-link {
  box-sizing: border-box;
  display: inline-block;
  width: 250px;
  border: 1px solid var(--purple);
  padding: 10px;
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

.menu-link:hover {
  background-color: #e8e8e8;
}

.socials {
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
}
